body{
  color: #5463FF;
  background-color:lightgrey ;
}
h1{
  color: #22577A;
}
h3{
  color: #22577A;
}
  hr{

    background-color: white;
    height:   1px;
    border-style: dotted none none;
    border-color: #6B7AA1;
    border-width: 5px;
    width: 8%;
  }
label{
  color: #22577A;
}
.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999A);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999A);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999A);
   background-image: -o-linear-gradient(top, #11CDD4, #11999A);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999A);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 15px;
   font-weight: 100;
   padding: 18px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 40px;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
